#interstitial-container{
    display:none !important;
}
._adr_abp_container{
    display:none !important;
}
iframe{
    display:none !important;
}
.img_ad{
    display:none !important;
}
#ad-container{
    display:none !important;
}